<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <title>Rate Card</title>
</head>
<body>
<form action='/' method='POST'>
    <input type='text' name='username' id='username' placeholder='username' required>
    <input type='password' name='pw' id='pw' placeholder='password' required>
    <button type='submit' name='submit' value='log in'>Log in</button>
</form>
</body>
</html>