<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% include 'menu.html' %}
    {% block head %}
    {% endblock %}
</head>
<body>
<form action="{{ url_for('rate_card') }}">
    {% if output is not none%}
    <p> The rate card for {{ data.weight|safe }} Kg from {{ data.origin|safe }} to {{ data.dest|safe }} is </p>
    <p>Pre-Carriage Charge is {{ rate.pre }} USD </p>
    <p>On-Carriage Charge is {{ rate.on }} AED </p>
    <p>Total Charge is {{ rate.total }} USD </p>
    {% else %}
    Sorry there is no rate card available for {{ data.origin }}
    {% endif %}
    <button type="submit" value="Check another">Check another</button>
</form>
</body>
</html>