<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-1.12.3.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <link href='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css' rel='stylesheet' type='text/css'>
    {% include 'menu.html' %}
    {% block head %}
    {% endblock %}
</head>
<body>

<table id="example" class="display" cellspacing="0" width="100%">
    {% if request.path == url_for('pre_calc') %}
        <caption><h2>Pre Calculated Data</h2></caption>
    {% endif %}
    {% if request.path == url_for('history') %}
        <caption><h2>History Data</h2></caption>
    {% endif %}
        <thead>
            <tr>
                <th>Origin</th>
                <th>Destination</th>
                <th>Weight(KG)</th>
                <th>Mode of Transportation</th>
                <th>Sell Rate per KG</th>
                {% if not request.path == url_for('pre_calc') %}
                    <th>Buy Rate per KG</th>
                    <th>Percentage Increase (%)</th>
                {% endif %}
                <th>Pre Carriage Charge (USD)</th>
                <th>On Carriage Charge (AED)</th>
                <th>Total Charge (USD)</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
            <tr>
                <td>{{ entry.origin }}</td>
                <td>{{ entry.dest }}</td>
                <td>{{ entry.weight }}</td>
                <td>{{ entry.mode }}</td>
                <td>{{ entry.rate_per_kg }}</td>
                <td>{{ entry.original_rate }}</td>
                {% if not request.path == url_for('pre_calc') %}
                    <td>{{ entry.percentage }}</td>
                {% endif %}
                <td>{{ entry.pre }}</td>
                <td>{{ entry.on }}</td>
                <td>{{ entry.total }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div>
    {% if not request.path == url_for('pre_calc') %}
    <form action="{{ url_for('history') }}" method="POST">
        <h2 style="text-align: center;">{{ message }}</h2>
        <button type="submit" onclick="return confirm('Are you sure?')" >Clear All History</button>
    </form>
    {% endif %}
</div>
</body>
<script>
    $(document).ready(function() {
    $('#example').DataTable();
} );
</script>
</html>